@import url('style.css');
@import url('https://js.arcgis.com/3.16/esri/css/esri.css');

/*general*/
html, body, #map {
	top:0px;
	left:0px;
	height: 100%;
	margin: 0;
	overflow:hidden;
}

html, #map, #mapContainer{
	background-color:#D0CFD4;
	border-color:#D0CFD4;
}

body::after {
	content:' ';
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.2;
	z-index:-1;
	background: url('../images/P1370831.JPG') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#shield {
	position:absolute;
	height:5%;
	width:auto;
	top:3px;
	right:3px;
	z-index:5000;
}

#pageTable {
	height:100%;
	width:100%;
}

/*main info graphics*/
#mapInfo{
	padding-top:10px;
	width:400px;
	vertical-align:top;
}

h2 {
	margin-left:10px;
}

#areaSymbolContainer {
	margin:10px;
	height:400px;
	width:400px;
	top:5px;
}

#chartContainer {
	/* Size and position */
	top:420px;
	margin:10px;
	height:364px;
	width:390px;
	
	/* Styles */
	background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	outline: none;
	opacity:1;
	overflow:hidden;
}

#counters {
	height:257px;
	width:390px;
	margin:10px;
	background-color: rgba(255,255,255,0.95);
	border-radius: 7px;
}

#counters tr{
	height:auto;
}

#counters td{
	padding: 5px 3px 5px 3px;
}

.counterData {
	text-align:right;
}

/*scatterplot*/
#scatterRect {
  fill: transparent;
  shape-rendering: crispEdges;
}
.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}
.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}
.dot {
  fill-opacity: .5;
}

#mapHighlight, #chartHighlight {
	fill:#FFFF00 !important;
	fill-opacity : 1;
}

#mapContainer {
	display:block;
	position:relative;
	min-height:706px;
	/*
	height: -moz-calc(100% - 20px);
	height: -webkit-calc(100% - 20px);
	height: calc(100% - 20px);
	*/
	border-width:0px;
	border-style:solid;
	overflow:hidden;
	border-radius:10px;
	margin:10px 0px 10px 0px;
}

.esriSimpleSliderHomeButton {
  padding:2px;
  width:30px;
	height:30px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	border-bottom: 1px solid #666666; 
	background:url("../icons/home.png");
	background-position:center center;
	background-repeat:no-repeat;
}

.esriSimpleSliderHomeButton:hover {
    background-color: #eee;
}

.esriSimpleSliderHomeButton:active {
    background-color: #eee;
}

.esriSimpleSlider.HomeButton .loading {
	background:url("../icons/home-spinner.gif");
}



svg text{
	fill: #8AA8BD;
	font-weight:bold;
	font-size:16px;
}

/*legend container styling*/
.info{
	/* Size*/
	height:325px;
	width:170px;
	position:absolute;
	bottom:0px;
	
	/* Styles */
	background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	outline: none;
	
	/* Font settings */
	font-weight: bold;
  color: #8AA8BD;
	
	z-index:55;
}

/*legend 1 position*/
#layer1info {
	title:"Layer left of swipe line";
	left:0px;
}
/*legend 2 position*/
#layer2info {
	title:"Layer right of swipe line";
	right:0px;
}

.svgL {
	width:100%;
	height:240px;
}

.info:hover, #chartContainer:hover{
	opacity:1;
}

.info *, #chartContainer * {
	opacity:inherit;
}

/*swiper*/
#swipeBar {
	/*position:fixed;*/
	bottom:0px;
	height:0px;
	z-index:51;
	width:100%;
	/*width: -moz-calc(100% - 200px);
	width: -webkit-calc(100% - 50px);
	width: calc(100% - 50px);*/
}

#swipeHandle {
	position:relative;
	height:50px;
	bottom:375px;
	width:50px;
	left:75%;
	background-color:#8AA8BD;
	border-radius:50%;
	z-index:51;
}
#swipeLine{
	position:relative;
	left:50%;
	width:1px;
	background-color:#8AA8BD;
	height:100%;
	z-index:51;
}
#swipeZone{
	position:relative;
	width:14px;
	left:18px;
	z-index:51;
}
#swipeHandle:hover, #swipeLine:hover {
	cursor:pointer;
}





/* ESRI Logo Layout */
.esriControlsBR{
	/*display:none !important;*/
	right:180px !important;
}
.esriControlsBR .logo-med{
	display:none !important;
	/*height:10px !important;*/
}

.circle1 {
	position:absolute;
	z-index:200;
}
.circle2 {
	position:absolute;
	z-index:100;
}

.readout {
	font-size:24px;
}
















/*deprecated*/
#gaugeTab{
	width:100%;
	height:100%;
	margin:0px;
}
.gauge{
	/* Size and position */
	text-align:center;
	min-height:inherit;
	min-width:240px;
	padding-top:8px;
	/* Styles */
	background: #fff;
	outline: none;
	opacity:1;
}
.needle, .needle-center {
	fill: #8AA8BD;
}
