<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="http://localhost/ForestDynamicsApp_v3.0/NRS_Forest_Dynamics.html"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com" matchAll="true"/>
				<serverUrl clientId="Fz7q4qQ1mbCeEYYF" clientSecret="8fc0d3212abe4c3db33badc9b25b59a3" rateLimit="0" rateLimitPeriod="1" matchAll="true" url="http://services1.arcgis.com/gGHDlz6USftL5Pau"/>
		</serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
